<div class="container">

<div class="panel panel-default">
<div class="panel-heading">New Reservation - <%= link_to 'Back to Products', reservations_path %></div>
<div class="panel-body">

<div class="col-md-5">
<%= render 'form' %>
</div>

</div>
</div>

</div>
