@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}
.navbar-inverse {
  background-color: #CD6A9D;
  border-color: #bf5593;
}

.navbar-inverse .navbar-brand {
  color: #FFF;
}

.navbar-inverse .navbar-nav > li > a {
  color: #F7F0F3;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: #fff;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #bf5593;
  color: white;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #FFF;
  background-color: #bf5593;
}
.panel {
  border-color: #cfd9D7;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.panel-default > .panel-heading {
  color: #444;
  border-color: #cfd9db;
  font-weight: bold;
  font-size: 85%;
  text-transform: uppercase;
  background-color: #f6f6f6;
}
.btn-primary {
  background-color: #1d7cf4;
}
.form-control {
  border-radius: 0;
}
.center-form {
  width: 330px;
  margin: 12% auto;
}
.signup-or-separator {
  background: none;
  height: 34px;
  position: relative;
  text-align: center;
}
.signup-or-separator hr {
  border-top: 1px solid #dce0e0;
  margin: -16px auto 10px auto;
  width: 90%;
}
.signup-or-separator .text {
  background-color: #fff;
  display: inline-block;
  margin: 0;
  padding: 8px;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index: 2;
    color: #FFF;
    background-color: #CD6A9D;
    border-color: #CD6A9D;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #FFF;
    background-color: #CD6A9D;
}

.btn-success {
    color: #FFF;
    background-color: #CD6A9D;
    border-color: #CD6A9D;
}

.btn-success:hover {
    color: #FFF;
    background-color: #bf5593;
    border-color: #bf5593;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.employees {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
    font-weight: bold;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

.broadcast-message {
  padding: 10px;
  text-align: center;
  background: #555;
  color: #fff;
}

.promo {
    border-top: 48px solid #9ada6e;
    border-left: 48px solid transparent;
    position: absolute;
    right: 16px;
}

.promo .fa {
    transform: rotate(5deg);
    color: #FFF;
    bottom: 26px;   
    right: 8px;
    position: absolute;
}

.panel-primary {
    border-color: #CD6A9D;
}

.panel-primary > .panel-heading {
    color: #FFF;
    background-color: #CD6A9D;
    border-color: #CD6A9D;
}
